<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>wachtwoord resetten</title>
</head>
<body>
    <h1>Wachtwoord vergeten</h1>
    <p>Voer je e-mailadres in om een link te ontvangen waarmee je je wachtwoord kunt resetten.</p>
    <form action="/forgot-password" method="POST">
        <input type="email" name="email" placeholder="E-mailadres" required>
        <button type="submit">Versturen</button>
    </form>

    <p ><a href="/log-in" id="back-link">Terug naar inloggen</a></p>
    
</body>
</html>