<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/log-in">Account</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Make It Happen.</h1>
        
        <section id="tasks-section">
            <h2>Nieuwe Taak Toevoegen</h2>
            <div class="input-group">
                <input type="text" id="taskInput" placeholder="Wat ga je doen?">
                <button id="addTaskBtn">Toevoegen</button>
            </div>

            <ul id="taskList">
                <li>
                    <div class="task-info">
                        <input type="checkbox">
                        <span>Website stylen</span>
                    </div>
                    <div class="task-actions">
                        <button class="btn-edit">✏️</button>
                        <button class="btn-delete">🗑️</button>
                    </div>
                </li>
                <li>
                    <div class="task-info">
                        <input type="checkbox">
                        <span>Database opzetten</span>
                    </div>
                    <div class="task-actions">
                        <button class="btn-edit">✏️</button>
                        <button class="btn-delete ">🗑️</button>
                    </div>
                </li>     
            </ul>
        </section>
    </main>
</body>
</html>